@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 26% 14%;

    --card: 0 0% 100%;
    --card-foreground: 220 26% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 26% 14%;

    --primary: 45 93% 47%;
    --primary-foreground: 0 0% 10%;

    --secondary: 40 20% 14%;
    --secondary-foreground: 0 0% 100%;

    --muted: 43 40% 96%;
    --muted-foreground: 40 16% 46%;

    --accent: 36 95% 53%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 43 31% 91%;
    --input: 43 31% 91%;
    --ring: 45 93% 47%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 26% 14%;
    --foreground: 0 0% 100%;

    --card: 220 20% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 220 20% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 45 93% 47%;
    --primary-foreground: 0 0% 10%;

    --secondary: 40 20% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 40 20% 25%;
    --muted-foreground: 40 20% 65%;

    --accent: 36 95% 53%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 40 20% 25%;
    --input: 40 20% 25%;
    --ring: 45 93% 47%;
    --sidebar-background: 40 26% 14%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 45 93% 47%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 40 20% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 40 20% 25%;
    --sidebar-ring: 45 93% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Open Sans", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
  }
}
